@import "../../vars.css";

.container {
    height: 80vh;
    width: 85%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* height: 100%; */
    /* margin-top: 35px; */
    z-index: 1;
    margin: auto auto 35px auto ;
}

.content {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
    gap: 15px;
}

.title {
    font-size: 56px;
    font-weight: 900;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 1) 70%,
            rgba(255, 255, 255, 0) 120%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.description {
    font-size: 18px;
    /* margin-bottom: 32px; */
}

.buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.Btn1 {
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 100px;
    font-size: 18px;
    padding: 7px 18px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.Btn2 {
    text-decoration: none;
    border: 3px solid var(--color-primary);
    color: var(--color-text);
    border-radius: 100px;
    font-size: 18px;
    padding: 7px 18px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}
.buttons {
    display: flex;
    gap: 20px;
    align-items: center; /* Align Lordicon with buttons */
}

lord-icon {
    margin: -10px;
    transition: transform 0.3s ease;
}

lord-icon:hover {
    transform: scale(1.1); /* Slightly enlarge the icon on hover */
}

.heroImg {
    /* width: 50%; */
    /* margin: -20px; */
    z-index: 1;
    animation-name: floating;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, 0px);
    }
}
/* 
.topBlur {
    position: absolute;
    width: 50%;
    height: 50%;
    min-width: 350px;
    min-height: 350px;
    top: -128px;
    left: -10vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 07);
    filter: blur(100px);
    z-index: 0;
}

.bottomBlur {
    position: absolute;
    width: 70%;
    height: 50%;
    min-width: 250px;
    min-height: 350px;
    top: 246px;
    right: -25px;
    border-radius: 764px;
    background: rgba(25, 55, 109, 07);
    filter: blur(100px);
    z-index: 0;
    overflow: hidden;
} */

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column-reverse;
        /* margin-top: 35px; */
        margin-bottom: 50px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .content {
        align-items: center;
    }

    .title {
        font-size: 52px;
        text-align: center;
    }

    .description {
        text-align: center;
        font-size: 18px;
        /* margin-bottom: 13px; */
    }
    .buttons {
        gap: 10px;
    }

    .Btn1, .Btn2 {
        font-size: 16px;
        font-weight: 600;
        padding: 7px 15px;
    }
    lord-icon {
        margin: 0;
    }

    .heroImg {
        margin: -10px;
        /* width: 226px; */
        width: 80%;
        max-width: 350px;
        /* background-color: #fff; */
    }
}