@import "./vars.css";

.App{
    /* background-color: var(--color-bg); */
    /* background-color: #dd6f6f; */
    /* width: 100%; */
    height: 100%;
    font-family: var(--font-roboto);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-roboto);
    text-decoration: none;
    list-style: none;
}